# ==========================
# Python
# ==========================
__pycache__/
*.py[cod]
*$py.class

# Virtual Environments
.venv/
venv/
env/
ENV/

# macOS
.DS_Store

# VS Code
.vscode/

# JetBrains IDEs
.idea/

# Streamlit
.streamlit/secrets.toml

# Environment variables
.env

# Logs
*.log

# Pytest
.pytest_cache/

# Coverage
.coverage
htmlcov/

# Distribution
build/
dist/
*.egg-info/

# Jupyter
.ipynb_checkpoints/

